{% extends 'master' %} {% block content %}
<div class="container">
    <div class="row">
        {% for course in courses %}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{course.name}}</h3>
                </div>
                <div class="panel-body">
                    <p>Kreditszám: {{course.credit}}</p>
                </div>
                <div class="panel-footer">
                    <form action="/abandon" method="POST">
                        {{ csrfField }}
                        <div class="form-group">
                            <input type="hidden" name="course_id" value={{course.id}}>
                            <button type="submit" class="btn btn-success">Leadás</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}